@using AsistManager.Models.ViewModels
@model EventoViewModel

<h3>
    Crear nuevo evento
</h3>

<fieldset class="mt-4">
    <div class="col-md-6 card shadow">
        <div class="card-header">
            <partial name="_BotonAtras" />
        </div>

        <div class="card-body">

            <!--Form para crear nuevo evento-->
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!--Input de atributo nombre-->
                <div class="form-group mt-3">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <!--Input de atributo fecha-->
                <div class="form-group mt-3">
                    <label asp-for="FechaInicio" class="control-label"></label>
                    <input asp-for="FechaInicio" class="form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>

                <!--Dirige a acción POST 'Create' del controlador-->
                <button type="submit" class="btn btn-primary mt-4 w-100">
                    <i class="bi bi-save"></i>
                    Crear evento
                </button>
            </form>
        </div>
    </div>
</fieldset>

<!--Importar scripts JQuery de validación-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}