@model Evento

<head>
    <link rel="stylesheet" href="~/css/tablaRegistros.css" />
    <link rel="stylesheet" href="~/css/formImportarRegistros.css" />
    <link rel="stylesheet" href="~/css/botones.css" />
</head>

<fieldset>
    <h3>Importar registros</h3>

    <div class="mt-4">

        <!--Mostrar alerta-->
        <partial name="_Alert" />

        <div class="card my-4 shadow-sm">
            <div class="card-header">
                <partial name="_BotonAtras" />
            </div>

            <div class="card-body">

                <!--Formulario para cargar archivo, y subirlo a la base-->
                <form method="post" enctype="multipart/form-data">
                    <div class="d-flex flex-row justify-content-around my-2">

                        <!--Insertar archivo Excel para su lectura-->
                        <label class="btn btn-outline-dark btn-lg">
                            <input id="fileInput" type="file" name="file" onchange="alCargarArchivo()">
                            Importar archivo
                            <i class="bi bi-file-arrow-down"></i>
                        </label>

                        <!--Exportar plantilla de Excel para su modificación-->
                        <button id="exportButton" type="submit" asp-controller="Evento" asp-action="Export"
                                class="btn btn-outline-dark btn-lg">
                            Exportar plantilla
                            <i class="bi bi-filetype-xls"></i>
                        </button>

                        <!--Previsualizar registros del archivo importado-->
                        <button id="showButton" type="submit" asp-controller="Evento" asp-action="Import"
                                class="btn btn-outline-dark btn-lg" disabled>
                            Consultar registros
                            <i class="bi bi-file-check"></i>
                        </button>

                        <!--Insertar registros del archivo a la base-->
                        <button id="insertButton" type="submit" asp-controller="Evento" asp-action="Insert"
                                class="btn btn-outline-success btn-lg">
                            Insertar registros
                            <i class="bi bi-database-add"></i>
                        </button>
                    </div>
                </form>

                <!--Lista para previsualizar los registros antes de subirlos a la base-->
                @if (ViewBag.Registros != null)
                {
                    var listaRegistros = ViewBag.Registros as List<Acreditado>;

                    <div class="mt-4">

                        <hr />

                        <!--Informar cantidad de acreditados-->
                        @if (listaRegistros!.Count == 0)
                        {
                            <label class="fw-bold text-danger">No se han encontrado registros.</label>
                        }
                        else
                        {
                            <label class="fw-bold text-secondary">Mostrando @listaRegistros!.Count registro(s)</label>
                        }

                        <!--Tabla de registros-->
                        <partial name="_TablaAcreditados" model="listaRegistros" />
                    </div>   
                }
            </div>
        </div>
    </div>
</fieldset>

@section Scripts{
    <script>
        //Al cargar un archivo, habilitar botones para consultar o insertar registros
        function alCargarArchivo() {
            var fileInput = $('#fileInput');
            var showButton = $('#showButton');
            var insertButton = $('#insertButton');

            showButton.prop('disabled', !fileInput.val());
            insertButton.prop('disabled', !fileInput.val());
        }

        //Por cada registro sin DNI, colorearlo
        $(document).ready(function () {
            var miTabla = $('.tabla-registros');

            //Iterar sobre las fila de la tabla
            miTabla.find('tbody tr').each(function () {
                var fila = $(this);
                var dni = fila.find('td:eq(2)').text();

                //Aplicar estilo
                if (dni.trim() === '') {
                    fila.addClass('table-danger');
                }
            });
        });
    </script>
}