<!--Mostrar alerta si se pasa un mensaje-->
@if (TempData["AlertaMensaje"] != null)
{
    if (TempData["AlertaTipo"] == null)
    {
        TempData["AlertaTipo"] = "success";
    }

    <div class="my-4">
        <div class="alert alert-@TempData["AlertaTipo"] alert-dismissible fade show shadow-sm" role="alert">
            <label>
                <i class="bi-exclamation-circle p-1"></i>
                @Html.Raw(TempData["AlertaMensaje"])
            </label>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}